@import 'marx.css';


/*$blue: #056ef0;*/
$blue: #5050FF;

@font-face {
    font-family: office;
    src: local("Helvetica Neue Bold"), local("HelveticaNeue-Bold"), url(MgOpenModernaBold.ttf);
    font-weight: bold;
}

html {
    height: 100%;
}

body {
    font-family: "Oswald Regular";
    font-size: 150%;
    min-height: 100%;
}

.plane {
    height: 100vh;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

#plane1 {}


h1 {
	    font-family: "League Gothic";
	    border: none;
	    font-size: 4.2vh;
	    line-height: 10.2vh;
}
.logo {
	position: absolute;
}


.logo * {
	display: block; 
	width: 2vw;
	text-align: center;
}
#temporary_logo {
	left: 5vh;
	top: 2vh;
}

#zone_logo {
	right: 2vh;
	top: 28vh;
}

/*#main_description {
	width: 70%;
	margin: 13% 15%;
	font-size: 4rem;
	color: black;
	// color: rgba(0,0,0, 1);
	color: rgba(255,255,255, 0.9);
	text-shadow: 0 0 2px black;
	text-align: center; 
}*/


#main_description {
	width: 90%;
	margin: 3% 5%;
	font-size: 4vw;
	color: black;
	color: rgba(0,0,0, 1);
	/*color: rgba(255,255,255, 0.9);*/
	/*text-shadow: 0 0 10px black;*/
	text-align: left; 
}

.nobreak {
	white-space: nowrap;
}

#bg {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#plane2 {
    background: $blue;
    
	color: white;
   /* padding-top: 50px;*/
}
.details {
	    width: 70%;
	    lost-utility: clearfix;
	    margin: 5% 5%;
}
.col {
	lost-column: 1/2;
}

#sign {
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 50px;
}

#sign img {
	width: 100%;
	height: 100%;
	display: block;
}

.details {
	font-family: "Office Code Pro";
}

.details h2 {
    font-family: "Oswald Regular";
}

